﻿.head_attenddance-content {
    background: rgb(202, 236, 249);
    background: linear-gradient(180deg, rgba(202, 236, 249, 1) 85%, rgba(255, 255, 255, 1) 100%);
}

.text_attenddance-title1 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}

.text_attenddance-title2 {
    font-size: 12px;
    /* font-weight: bold; */
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.text_attenddance-title3 {
    text-align: center;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.text_attenddance-time_now {
    text-align: center;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.text_attenddance-datetime_now {
    font-size: 18px;
    /* font-weight: bold; */
    text-align: center;
    padding: 0;
}

.panel_attenddance {
    margin: auto;
    width: 95%;
    max-width: 968px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 2px -3px;
    padding: 5px;
}

.btn_attendance-clock {
    width: 130px;
    height: 40px;
    border-radius: 30px;
    background-color: #549ad5;
    border-color: #549ad5;
    color: aliceblue;
    font-size: 20px;
    font-weight: bolder;
}

.btn_attendance-start_break {
    width: 80%;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    /* font-weight: bolder; */
}

.content_attendance-riwayat {
    width: 90%;
    margin: auto;
    max-width: 968px;
}

.panel_attenddance-riwayat {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: auto;
    padding: 5px;
    overflow: hidden;
    transition: .5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 2px 3px 2px -3px;
}

.panel_head_attenddance-riwayat {
    transition: 1s;
    background-color: #d5effb;
    height: 30px;
    width: 100%;
    border: 0px;
    border-radius: 20px;
    text-align: left;
    padding: 2px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bolder;
    color: black;
}

.panel_attenddance-riwayat-hide {
    transition: 1s;
    height: 40px;
    width: 100%;
}

.panel_attenddance-riwayat-show {
    height: auto;
    width: 100%;
}

input[type=checkbox].toggle {
    display: none;
}

input[type=checkbox].toggle+label {
    display: inline-block;
    height: 20px;
    width: 75px;
    position: relative;
    font-size: 10px;
    background-color: #4d93c7;
    border: 1px solid white;
    padding: 2px;
    margin: 0px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input[type=checkbox].toggle+label:before {
    position: absolute;
    top: -1px;
    text-align: center;
    height: 21px;
    width: 35px;
    padding-top: 5%;
    color: blue;
    font-size: 10px;
    content: attr(data-checked);
    transition: all 0.3s ease;
    z-index: 0;
}

input[type=checkbox].toggle+label:after {
    width: 40px;
    text-align: center;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-overflow: ellipsis;
    overflow: hidden;
}

input[type=checkbox].toggle+label.rounded-check {
    border-radius: 30px;
}

input[type=checkbox].toggle+label.rounded-check:before {
    border-radius: 50%;
}

input[type=checkbox].toggle:not(:checked)+label {
    /* background-color: transparent; */
    text-align: right;
}

input[type=checkbox].toggle:not(:checked)+label:after {
    content: attr(data-unchecked);
    right: 0;
    left: auto;
    opacity: 1;
    /* background-color: aqua; */
    color: white;
}

input[type=checkbox].toggle:not(:checked)+label:before {
    left: 0;
    background-color: white;
}

input[type=checkbox].toggle:checked+label:after {
    content: attr(data-checked);
    left: 0;
    right: auto;
    opacity: 1;
    color: white;
}

input[type=checkbox].toggle:checked+label:before {
    left: 37px;
    background-color: white;
    content: attr(data-unchecked);
}