﻿.text_home-title1 {
    font-size: 15px;
    color: #beae4f;
    margin: 0;
}

.text_home-title2 {
    font-size: 15px;
    font-weight: 600;
    color: #0a5889;
    margin: 0;
}

.text_home-fullname {
    font-size: 15px;
    font-weight: 600;
    color: #e0bf35;
    margin: 0;
}

.text_home-role {
    font-size: 11px;
    font-weight: 600;
    color: #e0bf35;
    margin: 0;
}

.text_home-title3 {
    font-size: 9px;
    font-weight: 450;
    color: black;
}

.panel_home .panel_home-icon {
    margin: auto;
    width: 95%;
    max-width: 968px;
    height: 130px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 2px -3px;
}

.text_home-title4 {
    font-size: 16px;
    font-weight: 600;
    color: #1c273b;
}

.text_home-title5 {
    font-size: 13px;
    color: #52605f;
}

.text_home-list_announchement {
    width: 80%;
    font-size: 11px;
    font-weight: 600;
    color: #1c273b;
}
