﻿body {
    background-color: #eaf7ff!important;
}

.tab-notifications .tab-notifications-btn {
    width: 100%;
    padding: 5px;
    background-color: #eaf7ff;
}

    .tab-notifications .tab-notifications-btn p {
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: bolder;
        color: #0a5889;
    }

.tab-notification-btn-nonactive {
    border: none;
}

.tab-notification-btn-active {
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 4px;
    border-bottom-color: #dd4b68;
}

.tab-notifications-content-notification .item-notifications-content-notification {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 80px;
    background-color: #fdfeff;
    margin-top: 20px;
}

.tab-notifications-content-notification .item-notifications-content-notification .panel-notifications-content-notification {
    padding: 5px;
    height: 80px;
}

.tab-notifications-content-approval .item-notifications-content-approval{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 80px;
    background-color: #fdfeff;
    margin-top: 20px;
}

.tab-notifications-content-approval .item-notifications-content-approval .panel-notifications-content-approval {
    height: 120px;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    transition: .5s;
}

.tab-notifications-content-approval .item-notifications-content-approval .panel-notifications-content-approval-hide {
    height: 120px;
}

.tab-notifications-content-approval .item-notifications-content-approval .panel-notifications-content-approval-show {
    height: 340px;
}

.tab-notification-hide {
    display: none;
}

.text_notication-title1 {
    margin: 0;
    padding-right: 10px;
    font-size: 10px;
}

.text_notification-title2 {
    font-weight: bolder;
    color: black;
    margin: auto;
}

.text_notification {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.img_notification {
    width: 70px;
    height: 70px;
    border-radius: 80px;
    margin: auto;
}

.tab-notifications-content-approval .item-notifications-content-approval .btn-notification-approve {
    width: auto;
    height: auto;
    border-radius: 30px;
    background-color: #3681be;
    color: aliceblue;
    font-size: 10px;
    font-weight: bolder;
}

.tab-notifications-content-approval .item-notifications-content-approval .btn-notification-reject {
    width: auto;
    height: auto;
    border-radius: 30px;
    background-color: #f03939;
    color: aliceblue;
    font-size: 10px;
    font-weight: bolder;
}